/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
mat-toolbar{
  /* height: 80px; */
  margin-top: 10px;
}

mat-toolbar a {
  padding: 5px 10px;
  text-decoration: none;
  margin-left: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
mat-toolbar a:visited, a:link {
  color: #607D8B;
}
mat-toolbar a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
mat-toolbar a.active {
  color: #039be5;
}